h1 {
    font-size: 40px;
    color: #2c3e50;
    text-align: center;
}

.items-kit{
    text-align: left;
    margin: 50px 50px;
}

.btn {
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 9%;
    padding:20px;
    font-size: 20px;
}

.btn:hover {
    background-color: #27ae60;
  }

.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-style: solid;
    border-width: thin;
    height: 70px;
    width: 400px;
    border-radius: 5%;
    color:#721c24 ;
    display: flex;
    align-items:flex-start;  
    padding-left: 10px;     
}

.list-group{
    border-radius: 5%;
    border-style: solid;
    border-width: thin;
    width: 400px;
    height: 200px;
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #DFDFDF;
}

.list-group-item{
    border-style: solid;
    border-width: thin;
    width: 400px;
    height: 200px;
    border-color: #DFDFDF;
}

.card{
    border-color: gray;
    border-style: solid;
    border-width: thin;
    width: 400px;
    height: 400px;
}

.image{
    background-color: gray;
    width: 400px;
    height: 200px;
}


.bt1 {
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 9%;    
    font-size: 15px;
    padding: 10px;
}

.card-title{
    padding-left: 10px;
}

.navbar{
    list-style-type: none;
    background-color: #6d757e;
    color: #e7edf3;
    display: flex;
    /*flex-direction: row;*/
}

.navbar-item{
    margin: 5px 30px 5px 30px;
    color: mediumaquamarine;
}

.navbar-item:hover {
    color:rgb(247, 247, 243);
}

@media screen and (max-width: 700px) {
    
    .navbar {
        flex-direction: column !important;
    }
}