h1 {
    font-size: 17px;
    color: #2c3e50;
}

.btn {
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 9%;
    padding:20px;
    font-size: 20px;
}

.btn:hover {
    background-color: #27ae60;
  }

.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-style: solid;
    height: 70px;
    width: 400px;
    border-radius: 5%;
    color:#721c24 ;
    display: flex;
    align-items:flex-start;       
}

